.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: space-between; */
  gap: 40px;
  /* width: 1379px; */
  height: 536px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cardHeaderText {
  color: var(--color-primary);
  font-weight: 500;
}
