.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 20px;
}

.toggleText {
  cursor: pointer;
  color: var(--color-primary);
}

.wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.cardWrapper {
  margin-top: 18px;
}
